.body {
  margin: 0;
  padding: 0;
}

.conatainer {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.header {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3a4374;
  border-radius: 10px;
  width: 825px;
  margin-top: 94px;
  margin-left: 15px;
}

.sidebar {
  width: 255px;
  height: 137px;
  border-radius: 10px;
  background-image: url(./assets/img.png);
  margin-top: 94px;
}

.sidebar-text {
  width: 153px;
  display: block;
  height: 51px;
  position: absolute;
  top: 156px;
  left: 189px;
  color: #fff;
}

.sidebar-text span {
  font-weight: 700;
  size: 20px;
  margin-bottom: 5px;
}

.sidebar-text p {
  font-weight: 500;
  size: 15px;
  line-height: 21.68px;
}

.mid-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 255px;
  height: 166px;
  top: 255px;
  left: 165;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 15px;
}

.mid-section1 button {
  background-color: #f2f4ff;
  padding: 2px;
  margin: 12px;
  border-radius: 5px;
  border: none;
  color: #4661e6;
  font-weight: 600;
  size: 13px;
}

.mid-section1 {
  width: 181px;
  height: 118px;
  top: 279px;
  left: 189px;
}

.third-section {
  display: flex;
  justify-content: center;
  width: 255px;
  height: 178px;
  top: 445px;
  left: 165px;
  border-radius: 10px;
  background-color: #f7f8fd;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 15px;
}

.third-section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.third-section2 {
  display: flex;
  justify-content: space-between;
  width: 207px;
  height: 26px;
  top: 464px;
  left: 189px;
}

.Container {
  display: flex;
}

.Container1 {
  display: flex;
  margin-left: 10px;
}

select {
  border: none;
  outline: none;
  background-color: #3a4374;
  color: #fff;
}

.button {
  background-color: #ad1fea;
  border-radius: 10px;
  margin-right: 5px;
  color: #fff;
  font-weight: 700;
  size: 14px;
  border: none;
  width: 158px;
  height: 35px;
  top: 108px;
}

.inner-container {
  display: flex;
  align-items: center;
  height: 26px;
  width: 156px;
  top: 117px !important;
  left: 474px !important;
  margin-top: 13px;
}

.form-container {
  text-align: left;
  width: 50%;
  margin: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 20px;
  margin-top: 40px;
}

.btn {
  text-align: right;
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 825px;
  height: 600px;
  top: 190px;
  left: 450px;
  margin-left: 15px;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 15px;
}

.inner-container2 {
  width: 410px;
  height: -moz-fit-content;
  height: fit-content;
  top: 301px;
  left: 659px;
  text-align: center;
}

.inner-container2 button {
  border: none;
  background-color: #ad1fea;
  width: 158px;
  height: 44px;
  top: 145px;
  border-radius: 10px;
  color: #f7f8fd;
  font-weight: 700;
  font-size: 14px;
}

.inner-container2 h3 {
  font-weight: 700;
  font-size: 24px;
}

.feedback-form {
  width: 540px;
  height: 745px;
  margin-top: 92px;
  margin-left: 424px;
}

.form-wrapper {
  color: #3a4374;
  width: 540px;
  height: 685px;
  margin-top: 28px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.Plus-icon {
  color: #f7f8fd;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/img.png);
  background-size: cover;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  z-index: -1;
}

.Plus-icon p {
  font-weight: 700;
  font-size: large;
}

.btn1 {
  width: 93px;
  height: 44px;
  background-color: #3a4374;
  border: none;
  border-radius: 10px;
  top: 601px;
  margin-right: 10px;
}

.btn2 {
  width: 144px;
  height: 44px;
  background-color: #ad1fea;
  border: none;
  top: 601px;
  border-radius: 10px;
  margin-right: 10px;
}

category-select {
  background-color: #f7f8fd;
  color: #3a4374;
  width: 456px;
}

.feedbackTitle-input {
  width: 456px;
  border: none;
}

.feedbackDetail {
  width: 432px;
}

.feedbackDetail-input {
  width: 456px;
  border: none;
}

.editfeedback {
  width: 540px;
  height: 822px;
  margin: auto;
  margin-top: 180px;
  border: 1px solid black;
}

.editfeedback-form {
  border: 1px solid black;
  width: 456px;
  height: 620px;
  top: "342";
  margin: auto;
}

.editfeedback-button {
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=app.css.map */